.addUser_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.addUser_wrapper > div form {
  width: 100%;
  margin: 0;
  margin: 24px 0;
}

.ant-tabs.ant-tabs-card .ant-tabs-card {
  padding: "0 15px";
  border: "1px solid blue";
  background: "#fff";
  line-height: "32px";
  color: "blue";
  font-size: "14px";
}
