.layout{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f0f2f5;
}
.header{
    width: 100%;
    height: 64px; 
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
    position: absolute;
    top:0;
    left:0;
    background: #fff;
}
.logo{
    width: 120px;
    height: 28.2px;
}
.logo img{
    width: 100px;
}
.logout{
   height: 64px;
}
.logout span{
    display: inline-block;
    padding: 10px;
    height: 64px;
    display: flex;
    align-items: center;
}
.logout :hover{
    background: #ccc;
}
.layout_content{
   width: 100%;
   height: 100%;
   display: flex;
   padding-top: 64px;
}
.logout img{
    border-radius: 50%;
}
.ant-dropdown-open{
    background: #eee!important;
}
.slide{
    width:200px;
    height: 100%;
    background: #ccc;
    float: left;
    background: #001529;
    font-size: 14px;
    overflow-y: auto;
}

.content{
   flex: 1;
   overflow-y: auto;
}
.content>div{
    width: 100%;
    height: 100%;
    padding: 0 24px 24px;
    display: flex;
    flex-direction: column;
}
a{
    color:#000;
  }

h2{
    padding: 20px 0;
    margin-top:10px;
}
input{
    border:1px solid #aaa!important;
}