.checkTheitemBox {
  width: 100%;
  background: #f0f2f5;
  margin: 0 auto;
  .title {
    padding: 20px 0;
    margin-top: 10px;
  }
  .anyLayoutContent {
    padding: 24px;
    margin: 0 0 20px;
    border-radius: 10px;
    background: #ffff;
  }
  .ant_row {
    padding: 0 20px;
    .ant_tag{
      margin:10px 3px;
      line-height:30px;
    }
  }

  .ant_col {
    width: 33%;
    margin-right: 25px;
  }
  .ant_col h5 {
    width: 65px;
    float: left;
  }
  .ant_row h6 {
    width: 70px;
  }
  .ant_list {
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
  .ant_list_item {
    align-items: center;
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #e8e8e8;
  }
.ant_list_item:hover{
  background: #F0F5FF
}

  .ant_tag_meta {
    height: 22px;
  }
  .ant_list_item_content {
    width: 90%;
  }
  .ant_list_item_action {
    padding: 0 5px;
  }
  
}
:global{
  .ant_active{
    background: rgb(51,154,246);
  }
}
