.checkTheitemBox {
  width: 100%;
<<<<<<< HEAD
  background: #f0f2f5;
  margin: 0 auto;
=======
  padding: 0 24px 24px;
  background: #f0f2f5;
  margin: 0 auto;
  overflow-y: auto;
>>>>>>> 4a617429378af701f8b42ed77f920ab8628134ab
}

.checkTheitemBox .title {
  padding: 20px 0;
  margin-top: 10px;
}

.checkTheitemBox .anyLayoutContent {
  padding: 24px;
  margin: 0 0 20px;
  border-radius: 10px;
  background: #ffff;
}

.checkTheitemBox .ant_row {
<<<<<<< HEAD
  padding: 0 20px;
=======
  height: 78px;
  display: flex;
>>>>>>> 4a617429378af701f8b42ed77f920ab8628134ab
}

.checkTheitemBox .ant_col {
  width: 33%;
  margin-right: 25px;
}

.checkTheitemBox .ant_col h5 {
  width: 65px;
  float: left;
}

<<<<<<< HEAD
=======
.checkTheitemBox .ant_label {
  flex: 1;
}

>>>>>>> 4a617429378af701f8b42ed77f920ab8628134ab
.checkTheitemBox .ant_row h6 {
  width: 70px;
}

<<<<<<< HEAD
=======
.checkTheitemBox .ant_btn {
  padding: 0 40px !important;
  border-radius: 4px !important;
  border: 0 !important;
  font-size: 14px !important;
  color: #fff !important;
  background: linear-gradient(-90deg, #4e75ff, #0139fd) !important;
  height: 32px;
}

>>>>>>> 4a617429378af701f8b42ed77f920ab8628134ab
.checkTheitemBox .ant_list {
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.checkTheitemBox .ant_list_item {
  align-items: center;
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid #e8e8e8;
}

.checkTheitemBox .ant_list_item:hover {
  background: #F0F5FF;
}

<<<<<<< HEAD
=======
.checkTheitemBox .ant_tag {
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  line-height: 20px;
  height: 22px;
  padding: 0 7px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background: #fafafa;
  font-size: 12px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 1;
  margin-right: 8px;
  cursor: pointer;
  white-space: nowrap;
}

>>>>>>> 4a617429378af701f8b42ed77f920ab8628134ab
.checkTheitemBox .ant_tag_meta {
  height: 22px;
}

<<<<<<< HEAD
=======
.checkTheitemBox .ant_tag_blue {
  width: 65px;
  margin: 0 8px 0 0;
  padding: 0 7px;
  background: #E6F7FF;
  color: #1890FF;
  font-size: 12px;
}

.checkTheitemBox .ant_tag_geekblue {
  width: 78px;
  margin: 0 8px 0 0;
  padding: 0 7px;
  background: #F0F5FF;
  color: #2F54EB;
  font-size: 12px;
}

.checkTheitemBox .ant_tag_orange {
  width: 46px;
  margin: 0 8px 0 0;
  padding: 0 7px;
  background: #FFF7E6;
  color: #FA8C16;
  font-size: 12px;
}

>>>>>>> 4a617429378af701f8b42ed77f920ab8628134ab
.checkTheitemBox .ant_list_item_content {
  width: 90%;
}

.checkTheitemBox .ant_list_item_action {
  padding: 0 5px;
}
<<<<<<< HEAD

:global .ant_active {
  background: #339af6;
}
=======
>>>>>>> 4a617429378af701f8b42ed77f920ab8628134ab
