:global .questions_wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  :global .questions_wrapper .question_content {
    width: 617px;
    background: #fff;
    padding: 20px 10px;
    border-radius: 5px;
  }
  
  :global .questions_wrapper h2 {
    padding: 10px 0;
    margin: 10px 0;
  }
  
  :global .questions_table {
    margin-top: 30px;
  }
  
  :global .ant-modal-header {
    border-bottom: none;
  }
  
  :global .ant-input {
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
  :global .ant-modal-footer {
    display: flex;
    border-top: none;
    justify-content: center;
  }
