

  
  :global .question_content {
    flex: 1;
    background: #fff;
    padding: 24px;
    margin:0 0 20px;
    border-radius: 10px;
  }
  

  
  :global .questions_table {
    margin-top: 30px;
  }
  
  :global .ant-modal-header {
    border-bottom: none;
  }
  
  :global .ant-input {
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
  :global .ant-modal-footer {
    display: flex;
    border-top: none;
    justify-content: center;
  }
  