.question_content{
    flex: 1;
    background: #fff;
    padding: 24px;
    margin:0 0 20px;
    border-radius: 10px;
}
.title{
    display: flex;
    justify-content: space-between;
}
.list{
    padding: 20px;
    margin-bottom: 20px;
    border:1px solid #ccc;
    text-align: left;
}
.list_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}