
  .question_content {
    flex: 1;
    background: #fff;
    padding: 30px;
    margin:0 0 20px;
    border-radius: 10px;
  }
  
  .questions_wrapper h2 {
    padding: 10px 0;
    margin: 10px 0;
  }
  
  .questions_table {
    margin-top: 30px;
  }
  
  .ant-modal-header {
    border-bottom: none;
  }
  
   .ant_input {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
  }
  
  .ant-modal-footer {
    display: flex;
    border-top: none;
    justify-content: center;
  }
 .ant-modal-title{
    text-align: center;

  }
