.addUser_content{
    width:33%;
    border:1px solid #ccc;
    padding:20px;
    border-radius:5px;
}
// .ant-form-item{
//     margin:24px 0;
// }
.ant-tabs-tab{
    padding:0 15px;
    border:1px solid blue;
    background:#fff;
    line-height:32px;
    color:blue;
    font-size:14px
}
.ant-tabs-nav{
    background: blue !important;
  }