@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.detailWrapper {
  width: 100%;
  padding: 0 24px 24px;
  background: #f0f2f5;
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: auto;
  background: #f0f2f5;
  min-height: 0;
}

.detailWrapper .title {
  padding: 20px 0;
  margin-top: 10px;
}

.detailWrapper .ant_layout_detailBox {
  flex: auto;
  min-height: 0;
}

.detailWrapper .ant_layout_content {
  width: 45%;
  margin: 0 0 20px;
  padding: 24px;
  background: #ffff;
  border-radius: 8px;
  flex: 1 1 0%;
}

.detailWrapper .ant_divider_vertical {
  margin: 0 8px;
  display: inline-block;
  height: 10px;
  width: 1px;
  vertical-align: middle;
  position: relative;
  top: -12px;
}

.detailWrapper .react_markdown {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.detailWrapper .react_markdown pre {
  width: 100%;
  height: 128px;
  margin: 5px 21px;
  padding: 0 14px;
  overflow: hidden;
  color: #657b83;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8AgMAAABHkjHhAAAACVBMV…v3iO9zG/UOphyPeinPl1J8Gtaa7xPTa/Dk+RIs4deMvwGvcGsmsCvJ0AAAAABJRU5ErkJggg==) #f6f6f6;
  background-size: 30px 30px;
}
